{% extends "invoice_base.html" %}
{% block title %}PDF Invoice Creator and Invoice Management{% endblock %}
{% block content %}
  

    <div class="container" style="margin-bottom 60px;">
    <main role="main" class="container">

    <div class="starter-template">
    <!-- Page Content -->
    <h2>Logo/Profile Management Video</h2>
    <!-- Marketing Icons Section -->
    <div class="row">
      <div class="embed-responsive embed-responsive-16by9">
  <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YZ6oKE47soQ?rel=0" allowfullscreen></iframe>
</div>
    </div>
    <!-- /.row -->
</main><!-- /.container -->


</div>
</div>

{% endblock %}

 
