{% extends "invoice_base.html" %}
{% block title %}Invoice{% endblock %}
{% block content %}
  <!-- Page Content -->
  <div class="container" style="margin-top: 60px;">

    <!-- Page Heading/Breadcrumbs -->
        <div class="row">
      <div class="col-lg-6">
      <h4>Profile</h4>

<form method="POST" action="/profile">
                       <div class="form-group">
    <label for="businessname">Business Name</label>
    <input type="text" class="form-control" id="businessname" name="businessname" value="" />
  </div>
  
 <div class="form-row">
    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" value="" />
    </div>
    <div class="form-group col-md-6">
      <label for="ein">EIN</label>
      <input type="text" class="form-control" id="ein" name="ein" value="" />
    </div>
 </div>
 
 <div class="form-group">
    <label for="address">Address</label>
    <input type="text" class="form-control" id="address" name="address1" value="" />
  </div>
  <div class="form-group">
    <label for="address2">Address 2</label>
    <input type="text" class="form-control" id="address2" name="address2" value="" />
  </div>			
  
  
  <div class="form-row">
    <div class="form-group col-md-6">
      <label for="city">City</label>
      <input type="text" class="form-control" id="city" name="city" value="" />
    </div>
    <div class="form-group col-md-4">
      <label for="state">State</label>
      <input type="text" class="form-control" id="state" name="state" value="" />
    </div>
    <div class="form-group col-md-2">
      <label for="zip">Zip</label>
      <input type="text" class="form-control" id="zip" name="zip" value="" />
    </div>
  </div>
<div class="form-row" style="margin-bottom: 130px;">
<hr class="mb-4">
        <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
</form>
</div>  
                    </div>
                </div>
                <!-- /.row -->
<div class="row">
                    <div class="col-lg-6">
            </div>
            </div>

            
 <!-- /.container-fluid -->

      </div>
<script src="js/jquery-3.2.1.min.js"></script>      

{% endblock %}